<div *rxContext="let user on user">
  <ng-template [ngTemplateOutlet]="validUser" [ngOutletContext]="{ user: user }" *ngIf="user"></ng-template>
  <ng-template [ngTemplateOutlet]="invalidUser" *ngIf="!user"></ng-template>
</div>


<ng-template #validUser let-user="user">
  <img class="img-fluid mx-auto d-block user-image" [src]="user.avatar_url" />
  <div class="username" [routerLink]="['/profile', 'edit']">
    {{ user.first_name + ' ' + user.last_name}}
  </div>

  <div class="level-class">
    <span class="badge badge-default">Level {{ user.xp.level }}</span>
  </div>

  <ngb-progressbar class="level-bar" [value]="getProgressValue(user.xp)"></ngb-progressbar>
  <span class="progress-help" *ngIf="user.xp.level < 7">Level {{user.xp.level + 1}} in {{ user.xp.xp_to_next_level }} XP</span>
  <span class="progress-help" *ngIf="user.xp.level >= 7">You are currently at max level</span>


  <!--<div class="card teams-card">-->
    <!--<div class="card-header"><h6>My Active Teams</h6></div>-->
    <!--<ul class="list-group" *rxContext="let list on projects">-->
      <!--<li *ngFor="let project of list" class="list-group-item">-->
        <!--<a [routerLink]="['/projects', project.id]">-->
          <!--<span class="badge text-truncate" [style.background-color]="project.color">{{ project.team_name }}</span>-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  <div class="btn-group-vertical action-buttons">
    <!--<button class="btn btn-default">My Profile</button>-->
    <button class="btn btn-default" (click)="onLogout()">Log Out</button>
    <button class="btn btn-primary" [routerLink]="['/profile', 'edit']">Edit Profile</button>
  </div>
</ng-template>

<ng-template #invalidUser>
  <div class="btn-group-vertical">
    <button class="btn btn-default" [routerLink]="['/login']">Login</button>
    <button class="btn btn-default" [routerLink]="['/register']">Register</button>
  </div>
</ng-template>
