@import "../../../style/global-variables";
//@import "../../../style/student-common";

:host {
  background-color: white;
  height: $navbar-height;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 25px;

  .nav-container {
    display: flex;

    .header-icon {
      font-size: 1.5rem;
    }
  }


  &.with-logo {
    .logo a{
      display: inherit;
    }
  }

  & .logo {
    flex: 1;
    text-align: center;
    a {
      text-decoration: none;
      color: black;
      display: none;
    }
  }
}
