<div class="nav-container">
  <span class="header-icon" (click)="onBurgerClicked()">
    <i class="fa fa-bars"></i>
  </span>

  <span class="navbar-text logo">
    <a [routerLink]="['/home']"> CapstoneED</a>
  </span>

  <span class="header-icon" (click)="onProfileClicked()">
    <i class="fa fa-address-card" *ngIf="!user"></i>
    <img class="user-avatar"
         [src]="user.avatar_url"
         alt="{{ user.first_name + ' ' + user.last_name }}'s avatar"
         *ngIf="user"
    >
  </span>
</div>
