@import "../../../../style/student-app";

:host {
  @extend .shadow-layer-2;
  @extend .shadow-hoverable;
  //@extend .no-radius;
  border: none;

  margin-right: 1em;

  @include media-breakpoint-down(md) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
  }

  .card-header {
    font-size: 1.2rem;
    //@extend .no-radius;

    &:hover {
      cursor: pointer;
      cursor: hand;
    }
    a {
      color: inherit;
    }
  }

  .block-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    //@extend .no-radius;

    .completed {
      margin-right: 3px;
    }
    .completed, .iterations {
      background-color: #EEEEEE;
      text-align: center;
      padding: 15px;

      span {
        display: block;
        font-size: 2em;
      }
    }
  }


  .summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .description {
      margin-left: 5px;
      dd {
        max-width: 8em;
      }
    }
  }

}
