<h2 class="card-header" [style.background-color]="project.color" [routerLink]="['/projects', project.id]">
  <a [routerLink]="['/projects', project.id]">{{project.project_name}}</a>
  <i class="fa fa-chevron-circle-right pull-right" aria-hidden="true"></i>
</h2>
<div class="card-block">
  <div class="block-header" >
    <div class="completed">
      <span>{{ percentage_completed + '%'}}</span>
      Duration Passed
    </div>
    <div class="iterations">
      <span>{{getIterationsCompleted()}}</span>
      Iterations Completed
    </div>
  </div>
  <div class="summary">
    <ced-progress-arc [strokeColor]="project.color" [progress]="percentage_completed / 100" [backgroundColor]="'#EEEEEE'" [size]="150" [strokeWidth]="40"></ced-progress-arc>
    <dl class="description">
      <dt class="">Team</dt>
      <dd class="text-truncate">{{project.team_name}}</dd>
      <dt class="">Description</dt>
      <dd class="text-truncate">{{project.description}}</dd>
    </dl>
  </div>

  <h4>Iterations</h4>
  <p *ngFor="let iteration of assignment.iterations">
    {{iteration.name}}
    <ngb-progressbar [value]="iteration_progress(iteration)"></ngb-progressbar>
  </p>
</div>
