@import "../../../../../style/student-app";
@mixin rank-position($color, $fade){
  $actualColor: map-get($categoryBackgrounds, $color);
  background: linear-gradient(to right, $actualColor, white $fade);
  color: contrast-color($actualColor);
  border-right-color: #e3e3e3;
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .list-group {
    width: 70%;
    margin: 0 auto;

    .list-group-item {
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 0.3em;
      }

      &:first-child {
        @include rank-position(category-gold, 60%);
      }

      &:nth-child(2) {
        @include rank-position(category-silver, 45%);
      }

      &:nth-child(3) {
        @include rank-position(category-bronze, 30%);
      }
    }
  }

  .student-draggable {
    display: flex;
    align-items: center;
    justify-items: flex-start;

    .student-avatar {
      max-width: 3.5em;
      height: auto;
    }

    span {
      margin: 1rem;
    }
  }
}
