<div class="table-wrapper">
  <table class="table-bordered table-stripped table-hover">
    <thead>
    <tr>
      <th>Text</th>
      <th>Stage</th>
      <th>Date Worked</th>
    </tr>
    </thead>
    <tbody class="logs-body">
    <tr *ngFor="let entry of log_entries; let i=index" (click)="emitLog(i)">
      <td class="text text-truncate">{{ entry.text }}</td>
      <td>{{ entry.stage }}</td>
      <td>{{ getDateFromUnix(entry.date_worked) | date:'dd/MM/yy' }}</td>
    </tr>
    </tbody>
  </table>
</div>
