<!--<h5 class="display-3">Your team vs the rest</h5>-->
<div class="teams-presenter" *ngIf="_rankings">
  <!--<div class="team" *ngFor="let ranking of _rankings;" [@teamDrop]="'in'" [style.animation-delay.ms]="ranking.current_rank * 600">-->
  <div class="team-container" *ngFor="let ranking of _rankings"
       [style.animation-delay.ms]="ranking.current_rank * 600"
       [ngClass]="{ 'own': ranking.my_team, 'rank1': ranking.current_rank == 1, 'rank2': ranking.current_rank == 2, 'rank3': ranking.current_rank == 3  }">
    <div class="team"
         [ngClass]="{ 'rank1': ranking.current_rank == 1, 'rank2': ranking.current_rank == 2, 'rank3': ranking.current_rank == 3 }">
      <div class="badge">{{ranking.current_rank}}</div>
      <div class="team-logo" >
        <img [src]="ranking.logo" [style.border-color]="ranking.color">
      </div>
      <div class="team-stats">
        <span class="heading">Team</span><span class="data">{{ranking.team_name}}</span>
        <span class="heading">Rank</span><span class="data">{{ranking.current_rank}}</span>
      </div>
    </div>
  </div>


  <div class="empty" *ngIf="_rankings.length % 2 == 0" >
  </div>
</div>

