@import '../../../../style/student-app';
@import '../../../../style/student-variables';

:host {
  display: block;
  .card.section {
    @extend .shadow-layer-1;
    border: none;
  }
  .card.section:not(:first-child) {
    margin-top: 1.5em;
  }

  #project-details {
    .card-block {
      display: none;

      &.show {
        display: flex;

        @include media-breakpoint-down(md){
          flex-direction: column;
        }

      }
    }

    .description {
      flex: 1
    }
  }

  #the-team {

    .card-block.collapse {
      display: none!important;

      &.show {
        display: flex!important;
      }
    }

    .member-card {
      max-width: 20rem;
    }

    .card-img-top {
      max-width:  10rem;
      width: 100%;
      height: auto;
      margin: 0 auto;
      border-width: 3px;
      border-color: purple;
    }

    .nickname {
      text-align: center;
      color: #5a7391;
      font-size: 1.6rem;
      font-weight: 600;
    }

    .full-name {
      text-align: center;
      font-size: 0.8rem;
    }
  }

  #status {
    #duration {
      text-align: center;
    }
    #iterations {

    }
    #points {

    }
  }

  #the-game {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    .quick-access-item {
      flex: 1;
      flex-basis: 100%;
      color: #ffffff;
      border: 1px solid #000;
      cursor: pointer;
      cursor: hand;
      padding-left: 0.5em;

      @include media-breakpoint-down(md) {
        margin-right: 0;

        &:not(:first-child) {
          margin-top: 0.5em;
        }
      }

      @include media-breakpoint-up(lg) {
        &:not(:first-child), &:not(:last-child) {
          margin-right: 0.5em;
        }

        &:last-child {
          margin-right: 0;
        }
      }



      @each $cname, $color in $student-colors {
        &.#{$cname} {
          background-color: $color;
          border-color: darken($color, 3);
        }
      }

      .quick-access-content {
        padding: 0;
        padding-bottom: 0.5em;

        .title {
          font-size: 1.5em;
          margin-bottom: 0.8rem;
        }

        .subtitle {
          font-size: 1em;
          margin: 0;
        }

      }

    }
  }
}
