<ng-template [ngTemplateOutlet]="validProject" *ngIf="project && assignment"></ng-template>
<ng-template [ngTemplateOutlet]="invalidProject" *ngIf="!project || !assignment"></ng-template>



<ng-template #validProject>
  <div class="container-fluid">
    <div class="card section" id="project-details">
      <div class="card-header d-flex" [style.background-color]="project.color" (click)="toggleDescription()">
        <h4>Project: {{ project.project_name }}</h4>
        <i role="button" class="fa ml-auto align-self-center" [ngClass]="{ 'fa-chevron-down': isDescriptionClosed, 'fa-chevron-up': !isDescriptionClosed }"></i>
      </div>
      <div class="card-block" [ngbCollapse]="isDescriptionClosed">
        <div class="description">
          {{ project.description }}
        </div>
        <div class="dates">
          <dl class="row">
            <dt class="col-6">Start Date <i class="fa fa-hourglass-start" aria-hidden="true"></i></dt>
            <dd class="col-6">{{ assignment.start_date | date: 'dd/MM/yyyy' }}</dd>
            <dt class="col-6">End Date <i class="fa fa-hourglass-end" aria-hidden="true"></i></dt>
            <dd class="col-6">{{ assignment.end_date | date: 'dd/MM/yyyy' }}</dd>
          </dl>
        </div>
      </div>
    </div>

    <!--<div class="card section" id="the-game">-->
      <!--<h4 class="card-header bg-warning">Team current rank: 4</h4>-->
      <!--<div class="card-block">-->
        <!--<p>-->
          <!--Insert coin here ->  |-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->

    <div id="quick-actions">
      <div [routerLink]="['statistics']" class="quick-access-item deep-blue shadow-layer-2 shadow-hoverable">
        <h4 class="title">Statistics</h4>
      </div>

      <div [routerLink]="['logs']" class="quick-access-item deep-blue shadow-layer-2 shadow-hoverable">
        <h4 class="title">Logs</h4>
      </div>
    </div>

    <div class="card section" id="game">
      <h4 class="card-header" [style.background-color]="project.color">Game Progress</h4>
      <div class="card-block">
        <ced-project-rankings></ced-project-rankings>
      </div>
    </div>

    <div class="card section" id="status">
      <h4 class="card-header" [style.background-color]="project.color">Project Status</h4>
      <div class="card-block">
        <div class="row">
          <div class="col-md-2" id="duration">
            <h5>Duration Elapsed</h5>
            <ced-progress-arc [strokeColor]="project.color" [progress]="project_percentage / 100" [backgroundColor]="'#EEEEEE'" [size]="150" [strokeWidth]="45"></ced-progress-arc>
            {{ project_percentage +'%'}}
          </div>
          <div class="col-md-7" id="iterations">
            <h5>Iteration Progress</h5>
            <p *ngFor="let iteration of assignment.iterations">
              {{iteration.name}}
              <ngb-progressbar [value]="iteration_progress(iteration)"></ngb-progressbar>
              Starts {{iteration.start_date | date: 'dd/MM/yy' }} | Ends: {{ iteration.deadline | date: 'dd/MM/yy'}}
            </p>
          </div>
          <div class="col-md-3" id="points">
            <h5>Points Contribution</h5>
            <dl class="row">
              <dt class="col-6 animated tada"><span [ngClass]="{ 'text-success': (project.points.personal >= project.points.average), 'text-danger': (project.points.personal <= project.points.average) }">My Contribution</span></dt>
              <dd class="col-6 animated tada"><span [ngClass]="{ 'text-success': (project.points.personal >= project.points.average), 'text-danger': (project.points.personal <= project.points.average) }">{{ project.points.personal }}</span></dd>
              <dt class="col-6">Team Total</dt>
              <dd class="col-6">{{ project.points.total }}</dd>
              <dt class="col-6">Team Average</dt>
              <dd class="col-6">{{ project.points.average }}</dd>
            </dl>
          </div>

        </div>
      </div>
    </div>

    <div class="card section"  id="the-team">
      <div class="card-header d-flex" (click)="toggleTeam()">
        <h4>The Team: {{project.team_name}}</h4>
        <i role="button" class="fa ml-auto align-self-center" [ngClass]="{ 'fa-chevron-down': isTeamClosed, 'fa-chevron-up': !isTeamClosed }"></i>
      </div>
      <div class="card-block d-flex justify-content-around flex-wrap align-content-around" [ngbCollapse]="isTeamClosed">
        <div class="card member-card" *ngFor="let student of project.students">
          <img [src]="student.avatar_url" alt="" class="card-img-top">
          <div class="card-block">
            <p class="card-text nickname">{{student.nickname}}</p>
            <p class="card-text full-name">{{student.first_name + ' ' + student.last_name}}</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</ng-template>

<ng-template #invalidProject>
  <div>
    Loading...
  </div>
</ng-template>
