<ced-form-wizard [onFinish]="wizard_OnFinish" *ngIf="assessment">
  <ced-form-wizard-step *ngFor="let question of assessment.questions; let i = index">
    <ced-pa-question [question]="question" [index]="i" [project]="project" (answersOutput)="onReceivedAnswer($event)"></ced-pa-question>
  </ced-form-wizard-step>
  <ced-form-wizard-step
    [title]="'Summary'"
    [canGoNext]="summaryStep_CanGoNext()"
  >
    <div *ngIf="project; else noProjectBlock" class="summary">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <P class="lead">Below is a summary of your answers. Once you have reviewed them you can hit finish to submit them.</P>
        </div>
      </div>
      <ced-peer-assessment-summary
        [project]="project"
        [peer-assessment-form]="assessment"
        [peer-assessments]="peerAssessments"
      >

      </ced-peer-assessment-summary>
    </div>
  </ced-form-wizard-step>
</ced-form-wizard>

<ng-template #noProjectBlock>
  <p>Loading data...</p>
</ng-template>
