<div *rxContext="let user on _user">
  <div *ngIf="user">
    <div class="row">
      <div class="col-md-10">
        <ced-pa-feed></ced-pa-feed>
      </div>
      <div class="col-md-2">
        <div class="btn-group-vertical" style="width: 100%;">
          <button [routerLink]="['/projects', 'enroll']" class="btn btn-primary">
            Enroll in Project
          </button>
          <button [routerLink]="['/logs']" class="btn btn-primary">
            Log your work
          </button>
        </div>
      </div>
    </div>
    <ced-project-list style="margin-top: 2rem; display: block"></ced-project-list>
  </div>

  <div *ngIf="!user" class="jumbotron">
    <h1 class="display-3">Hello, stranger</h1>
    <p class="lead">Are you new here? Would you like to: </p>
    <hr class="my-4">
    <div class="btn-group" role="group">
      <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
      <button class="btn btn-primary">Register</button>
    </div>
  </div>
</div>

