<nav class="nav flex-column">
  <!--<a class="nav-link" [routerLink]="[]" routerLinkActive="active"></a>-->
  <!--<a class="nav-link" [routerLink]="[]" routerLinkActive="active"></a>-->
  <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
  <a class="nav-link" [routerLink]="['/projects', 'enroll']" routerLinkActive="active">Enroll in project</a>
  <!--<a class="nav-link" [routerLink]="['/units']" routerLinkActive="active">Units</a>-->
  <!--<a class="nav-link" [routerLink]="[]" routerLinkActive="active">Assignments</a>-->
  <a class="nav-link" [routerLink]="['/projects']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Projects</a>
  <a class="nav-link" [routerLink]="['/peer-assessments']" routerLinkActive="active">Peer Assessments</a>
  <a class="nav-link" [routerLink]="['/logs']" routerLinkActive="active">Logs</a>
</nav>
