<nav class="nav flex-column">
  <!--<a class="nav-link" [routerLink]="[]" routerLinkActive="active"></a>-->
  <!--<a class="nav-link" [routerLink]="[]" routerLinkActive="active"></a>-->
  <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
  <a class="nav-link" [routerLink]="[]" routerLinkActive="active">Units</a>
  <a class="nav-link" [routerLink]="[]" routerLinkActive="active">Assignments</a>
  <a class="nav-link" [routerLink]="[]" routerLinkActive="active">Projects</a>
  <a class="nav-link" [routerLink]="[]" routerLinkActive="active">Peer Assessments</a>
  <a class="nav-link" [routerLink]="[]" routerLinkActive="active">Help</a>
</nav>
