<div toastContainer></div>

<div id="wrapper">
  <div id="left-sidebar-wrapper" [class.open]="_leftOpen">
    <div id="sidebar-header">
      <a [routerLink]="['/home']">CapstoneED</a>
    </div>
    <ced-sidenav></ced-sidenav>
  </div>
  <div id="page-content-wrapper">
    <ced-header (burgerClicked)="toggleLeft()" (profileClicked)="toggleRight()"></ced-header>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="right-sidebar-wrapper" [class.open]="_rightOpen">

    Hi, i am on the right
  </div>
</div>
