@import "../../style/global-variables";
@import "../../style/student-app";

@mixin sidebar-header {
  font-size: 18px;
  height: $navbar-height;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wrapper {
  display: flex;

  &.open {
    @include media-breakpoint-down(md) {
      overflow-x: hidden;
    }
  }

  #left-sidebar-wrapper {
    width: 250px;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-width 0.3s, opacity 0.15s,  ease-in-out;
    &.open {
      max-width: 100%;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
    }

    .sidebar-header {
      @include sidebar-header;

      a {
        color: #000000;
        padding-top: 0.35rem;
        padding-bottom: 0.25rem;
        margin-left: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        text-decoration: none;

        &:hover {
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }

  #page-content-wrapper {
    background-color: #EEEEEE;
    flex: 1;
    min-height: 100vh;
    padding-bottom: 2em;

    transition: transform 0.3s, opacity 0.15s,  ease-in-out;


    &.left-open {

      @include media-breakpoint-up(lg) {
        margin-left: 250px;
      }

      @include media-breakpoint-down(md) {
        transform: translate(250px, 0);
      }

    }

    &.right-open {
      @include media-breakpoint-up(lg) {
        margin-right: 250px;
      }

      @include media-breakpoint-down(md) {
        transform: translate(-250px, 0);
      }
    }

  }

  #right-sidebar-wrapper {
    width: 250px;
    max-width: 0;
    opacity: 0;
    overflow-x: hidden;
    display: block;
    //flex-direction: column;


    transition: max-width 0.3s, opacity 0.15s,  ease-in-out;
    &.open {
      max-width: 100%;
      opacity: 1;
      position: absolute;
      top: 0;
      right: 0;
    }

    .sidebar-header {
      font-size: 18px;
      height: $navbar-height;
      background-color: white;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 25px;
    }
  }
}
