@import "../../style/global-variables";
:host /deep/ .breadcrumb {
  background-color: white;
  .breadcrumb-item {
    color: #0275d8;

    &.active {
      color: #636c72;
    }
  }
}


#wrapper {
  display: flex;
  height: 100%;

  #left-sidebar-wrapper {
    width: 250px;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-width 0.3s, opacity 0.15s,  ease-in-out;
    &.open {
      max-width: 100%;
      opacity: 1;
    }

    .sidebar-header {
      font-size: 18px;
      height: $navbar-height;
      background-color: white;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        color: #000000;
        padding-top: 0.35rem;
        padding-bottom: 0.25rem;
        margin-left: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        text-decoration: none;

        &:hover {
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }

  #page-content-wrapper {
    background-color: #EEEEEE;
    flex: 1;
  }

  #right-sidebar-wrapper {
    width: 250px;
    max-width: 0;
    opacity: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    transition: max-width 0.3s, opacity 0.15s,  ease-in-out;
    &.open {
      max-width: 100%;
      opacity: 1;
    }

    .sidebar-header {
      font-size: 18px;
      height: $navbar-height;
      background-color: white;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 25px;
    }
  }
}
